h1 {
  background: -webkit-linear-gradient(blue, purple, white, hotpink);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.5px white;
  font-style: italic;
  font-size: 5em;
  margin-block-start: 0.1em;
  margin-bottom: 6px;
}

h2 {
  margin: 5px;
  background: -webkit-linear-gradient(blue, purple, white, hotpink);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.5px white;
  font-size: 2em;
}

h3 {
  background: -webkit-linear-gradient(blue, purple, white, hotpink);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.25px white;
  font-style: italic;
  margin: 5px
}

p {
  margin: 5px;
}

ul {
  list-style-type: none;
}

ol {
  list-style-type: none;
}

hr {
  width: 30%;
  height: 3px;
  border-radius: 30px;
  background: white;
  box-shadow: 0 5px 30px white;
  border-color: lightblue;
}

button {
  background: -webkit-linear-gradient(purple, white, hotpink);
  border: 2px solid white;
  color: black;
  padding: 10px 20px;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  font-style: italic;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  font-family: "Audiowide", sans-serif;
  box-shadow: 0 6px 40px hotpink;
}

button:hover {
  box-shadow: 0 6px 40px rgb(252, 2, 127);
}

.loginsignup {
  position: absolute;
  top: 0;
  right: 0;
}

.Chart {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 170px));
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  margin: 5%;
}

.SongsContainer {
  padding: 10px;
}

.SongCard {
  
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  height: 190px;
  background: -webkit-linear-gradient(darkblue, purple, hotpink, white);
  box-shadow: 0 6px 10px lightblue;
  float: left;
  padding: 10px;
  margin: 5px;
  font-size: x-small;
  border-radius: 10%;
}

.SongCard:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transform: perspective(100px) translate3D(0, 0, 40px);
  font-size: xx-small;
  border-radius: 10%;
  z-index: 9999;
  position: relative
}

.SongImage {
  width: 50%;
}

.Song-h2 {
  color: white;
}

.text-link {
  background: -webkit-linear-gradient(darkblue, white, lightblue);
  border: 2px solid white;
  color: black;
  padding: 10px 20px;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  font-style: italic;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  font-family: "Audiowide", sans-serif;
  box-shadow: 0 6px 40px lightblue;
}

.text-link:hover {
  box-shadow: 0 6px 40px darkblue;
}

iframe {
  -moz-transform: scale(0.4, 0.4);
  -webkit-transform: scale(0.4, 0.4);
  -o-transform: scale(0.4, 0.4);
  -ms-transform: scale(0.4, 0.4);
  transform: scale(0.4, 0.4);
  position: absolute;
  left: -68px;
  bottom: -0.5px;

}

.popup-content {
  background: -webkit-linear-gradient(
    0.5turn,
    purple,
    hotpink,
    white,
    hotpink,
    purple
  );
}
