.ChartsContainer {
  padding: 16px;
}

.ChartCard {
  float: left;
  margin: 1.5%;
background: whitesmoke;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    width: 97%
    
}

.SongsContainer {
  padding: 10px;
  
}

.SongCard {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  width: 30%;
  background: white;
  float: left;
  padding: 10px;
  margin: 5px;
  font-size: small;
  
}

.SongCard:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transform: translate3D(0,-1px,0) scale(1.03);
}

.SongImage {
  width: 50%
}




