h2 {
  margin: 5px;
}

p {
  margin: 5px;
}

.Chart {
  padding: 50px;
  float: left;
}

.SongsContainer {
  padding: 10px;
}

.SongCard {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  width: 10%;
  background: #414040;
  float: left;
  padding: 10px;
  margin: 5px;
  font-size: small;
  border-radius: 50%;
}

.SongCard:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transform: translate3D(0, -1px, 0) scale(1.05);
  width: 25%;
  border-radius: 20%;
}

.SongImage {
  width: 50%;
}

.Song-h2 {
  color: white;
}

.Playlist {
  float: left;
}

.text-link {
  color: inherit;
  text-decoration: inherit;
  background-color: #EEEEEE;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}